
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using EntityLayer.Concrete
@model List<Contact>
<div class="table-responsive m-b-40" style="margin-top:100px">
    <table class="table table-borderless table-data3">
        <thead>
            <tr>
                <th>Mesaj Id</th>
                <th>Ad-Soyad</th>
                <th>Mail</th>
                <th>Mesaj Başlık</th>
                <th>Alınan Mesaj</th>
                <th>Okunma Bilgisi</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.ContactId</td>
                <td>@item.ContactName @item.ContactSurname</td>
                <td>@item.ContactMail</td>
                <td>@item.ContactTitle</td>
                <td>@item.ContactMessage</td>
                @if (item.ContactStatus == true)
                {
                    <td class="denied">OKUNMADI</td>
                }
                else
                {
                    <td class="process">OKUNDU</td>
                }
                

            </tr>
            }

        </tbody>
    </table><br />



</div>

<h1 style="text-align:center">iLETİŞİM KURANLAR</h1>
@foreach (var item in Model)
	{
<div class="col-md-3" style="margin-top:50px">
    <aside class="profile-nav alt">
        <section class="card">
            <div class="card-header user-header alt bg-dark">
                <div class="media">
                    <a href="#">
                        <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="~/Admin/images/icon/avatar-01.jpg">
                    </a>
                    <div class="media-body">
                        <h2 class="text-light display-6">@item.ContactName @item.ContactSurname</h2>
                        
                    </div>
                </div>
            </div>


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#">
                        <i class="fa fa-send"></i><p>@item.ContactMail</p>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <i class="fa fa-facebook-messenger"></i>Konu Başlığı: @item.ContactTitle
                        <span class="badge badge-danger pull-right"></span>
                    </a>
                </li>
               
            </ul>

        </section>
    </aside>
</div>
	}

        
