
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using EntityLayer.Concrete
@model List<Contact>
<div class="table-responsive m-b-40" style="margin-top:100px">
    <table class="table table-borderless table-data3">
        <thead>
            <tr>
                <th>Mesaj Id</th>
                <th>Ad-Soyad</th>
                <th>Mail</th>
                <th>Mesaj Başlık</th>
                <th>Alınan Mesaj</th>
                <th>Okunma Bilgisi</th>
                <th>Okundu İşaretle</th>
                <th>Sil</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ContactId</td>
                    <td>@item.ContactName @item.ContactSurname</td>
                    <td>@item.ContactMail</td>
                    <td>@item.ContactTitle</td>
                    <td>@item.ContactMessage</td>
                    @if (item.ContactStatus == true)
                    {
                        <td class="denied">OKUNMADI</td>
                    }
                    else
                    {
                        <td class="process">OKUNDU</td>
                    }
                    <td><a href="/Admin/Contact/Read/@item.ContactId" class="btn btn-success btn-sm">Okundu Olarak İşaretle</a></td>
                    <td><a href="/Admin/Contact/Delete/@item.ContactId" class="btn btn-danger btn-sm">Mesajı Sil</a></td>

                </tr>
            }

        </tbody>
    </table><br />



</div>

<h1 style="text-align:center">iLETİŞİM KURANLAR</h1>
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="/Admin/images/icon/user.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title mb-3">@item.ContactName @item.ContactSurname</h4>
                                <p class="card-text">
                                    @item.ContactMessage
                                </p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>


