@using EntityLayer.Concrete
@model List<About>


<div class="profile-thumb">
    <div class="profile-title">
        <h4 class="mb-0">Dijital Kimlik</h4>
    </div>

    <div class="profile-body">
        @foreach (var item in Model)
        {
            <p>
                <span class="profile-small-title">Ad</span>
                <span>@item.Name @item.Surname</span>
            </p>

            <p>
                <span class="profile-small-title">Doğum</span>
                <span>@item.BirthDay.ToShortDateString()</span>
            </p>

            <p>
                <span class="profile-small-title">Telefon</span>
                <span><a href="tel: 305-240-9671">+90 @item.Phone</a></span>
            </p>

            <p>
                <span class="profile-small-title">E-mail</span>
                <span><a href="mailto:ketenci2554@gmail.com">@item.Mail</a></span>
            </p>
        }

    </div>
</div>