
@using EntityLayer.Concrete
@model List<Project> 

<section class="projects section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-8 col-8 mr-sm-n5">
                <div class="section-title-wrap d-flex justify-content-center align-items-center mb-4">
                    <img src="~/portföy/images/white-desk-work-study-aesthetics.jpg" class="avatar-image img-fluid" alt="">

                    <h2 class="text-white ms-4 mb-0">Geliştirilen Projeler</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="projects-thumb">
                        <div class="projects-info">
                            <small class="projects-tag">@item.ProjectTitle</small>

                            <h3 class="projects-title"><a href="@item.ProjectUrl">@item.ProjectName</a></h3>
                        </div>

                        <a href="@item.ProjectImgUrl" class="popup-image">
                            <img src="@item.ProjectImgUrl" class="projects-image img-fluid" alt="">
                        </a>
                    </div>
                </div>
            }



        </div>
    </div>
</section>